.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    color: var(--ui-color-2);
    line-height: 2;
    font-size: 1.1em;
    gap: 0px;

    img {
      width: 100%;
      object-fit: cover;
    }

    p {
      margin: 0;
    }

    ul,
    ol {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    strong {
      color: var(--ui-color);
    }

    h1,
    h2,
    h3 {
      color: var(--ui-color);
      margin: 30px 0 0 0;
    }

    h1 {
      margin-bottom: 10px;
    }

    h3 {
      font-size: 16px;
    }
    :global(div.twitter-tweet) {
      align-items: center;
      flex-direction: column;
      max-width: 100% !important;
      margin-top: 20px !important;
      margin-bottom: 20px !important;
    }

    iframe {
      width: 100% !important;
      max-width: 550px !important;
      align-self: center;
    }

    code {
      background-color: var(--code-hightlight);
      font-weight: 300;
      color: var(--ui-color);
      font-size: 15px;
      padding: 2px 4px;
      font-family: monospace;
    }
  }
}
