.form {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  input,
  textarea {
    display: inline-block;
    text-align: left;
    color: var(--ui-color);
    background: var(--background-2);
    padding: 12px;
    border: 1px solid var(--background-3);
    width: 100%;
    font-size: 20px;
    border-radius: 4px;
  }

  textarea {
    resize: none;
    height: 300px;
    font-size: 16px;
  }

  > span {
    width: 100%;
    text-align: center;
    color: var(--ui-color-2);
    font-size: 12px;
  }

  > label {
    input[type="checkbox"] {
      width: 14px;
      height: 14px;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  button {
    color: white;
    background: #730000;
    font-size: 16px;
    padding: 8px 12px;
    border: none;

    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    transition: transform 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    width: fit-content;

    &:hover {
      transform: scale(1.2);
    }
  }

  .loadingContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    left: 0;
    right: 0;
    background: var(--background-3);
    > div {
      color: var(--ui-color);
    }
  }

  .audioContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
