.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;

  img {
    display: flex;
    object-fit: contain;
    width: 100%;
    max-width: 400px;
  }

  .text {
    display: inline-flex;
    color: var(--ui-color);
    font-size: 16px;
    width: 100%;
    max-width: 600px;
    line-height: 24px;

    @media (max-width: 480px) {
      flex-direction: column;
      text-align: center;
    }

    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
