.root {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  .header {
    box-sizing: border-box;
    width: 100%;
    height: 92vh;
    background-image: url("/eve_blob.svg");
    background-repeat: no-repeat;
    background-position-x: -600px;
    background-position-y: -300px;
    padding: 0 8px 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 1024px) {
      padding: 0 8px;
      align-items: center;
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
    .headerItem {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      color: #2f2e41;

      h1 {
        font-size: 16em;
        font-weight: 400;
        margin: 0 0 -30px -20px;
        padding: 0;
      }

      h2 {
        font-size: 3em;
        font-weight: 400;
        color: #2f2e41;
        padding: 0;
        margin: 0;
        white-space: nowrap;
      }

      img {
        width: 100%;
        max-width: 600px;
        object-fit: cover;
        padding: 40px;
      }

      .headerActionContainer {
        display: flex;
        flex-direction: row;
        gap: 8px;
      }

      @media (max-width: 1024px) {
        align-items: center;
        gap: 32px;
        h1 {
          margin-left: 0px;
          font-size: 8em;
        }
        h2 {
          font-size: 3em;
        }
        .headerActionContainer {
          justify-content: center;
        }
      }
      @media (max-width: 767px) {
        align-items: center;
        h1 {
          margin-left: 0px;
          font-size: 6em;
        }
        h2 {
          font-size: 2em;
          white-space: normal;
          text-align: center;
        }

        .headerActionContainer {
          flex-direction: column;
          text-align: center;
        }
      }
    }
  }
}

.banner {
  display: flex;
  flex-direction: row;
  padding: 32px 16px;
  width: 100%;
  gap: 16px;
  background: var(--background-3);
  justify-content: space-around;

  @media (max-width: 480px) {
    gap: 32px;
    flex-direction: column;
    align-items: center;
  }

  .avatarContainer {
    display: grid;
    gap: 4px;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px 40px;
    width: auto;
  }
  .item {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    img {
      width: 40px;
    }

    span:last-child {
      color: var(--ui-color-2);
    }
  }
}

.button {
  display: flex;
  width: auto;
  padding: 16px 30px 16px 30px;
  background: #2f2e41;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  border-radius: 30px;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    transform: scale(1.05);
  }
}

.button.outline {
  color: #2f2e41;
  border: 3px solid #2f2e41;
  border-radius: 30px;
  background: transparent;
  text-decoration: none;
}

.section {
  margin-top: 50px;
  padding: 0 32px;
  display: flex;
  flex-direction: row-reverse;
  box-sizing: border-box;
  max-width: 1400px;

  gap: 32px;

  @media (max-width: 1024px) {
    align-items: center;
    flex-direction: column-reverse;
    gap: 32px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    gap: 12px;

    h3 {
      font-size: 2em;
      font-weight: bold;
      color: var(--ui-color);
      margin: 0;

      &:not(:first-child) {
        padding-top: 20px;
      }
    }
    span {
      color: var(--ui-color-2);
      line-height: 1.8;
      font-size: 1.1em;
      b {
        color: var(--ui-color);
      }
    }
  }
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    img {
      width: 100%;
      max-width: 500px;
    }
  }
}

.aiContainer {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: -100px;
  @media (min-width: 320px) and (max-width: 1024px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}
