.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .container {
    width: 80%;

    @media (max-width: 1024px) {
      width: 100%;
      padding: 0 8px;
    }

    .landingPage {
      height: 84vh;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      .textContainer {
        width: 100%;
        max-width: 400px;

        h1 {
          font-size: 2.6em;
          font-weight: normal;
          white-space: nowrap;
          @media (max-width: 1024px) {
            font-size: 2em;
          }
        }

        h2 {
          line-height: 1.5;
          font-weight: normal;
          font-size: 1.4em;
        }
      }
      .profile {
        max-width: 400px;
        width: 100%;
      }

      @media (max-width: 1024px) {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;

        .profile {
          max-width: 300px;
        }

        .text-container {
          align-items: center;
        }
      }
    }
  }
}

.headline {
  scroll-margin-top: 68px;
  font-weight: normal;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.skillPage {
  padding-top: 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  @media (max-width: 1024px) {
    padding-top: 00px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 82px;
  }
}

.page {
  width: 100%;
  min-height: 100vh;
}
