.avatar {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  border: 1px solid var(--ui-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
