@font-face {
  font-family: "Virgil";
  src: url("https://excalidraw.com/Virgil.woff2");
}
@font-face {
  font-family: "Cascadia";
  src: url("https://excalidraw.com/Cascadia.woff2");
}

html,
body,
#root {
  font-family: "Space Grotesk", sans-serif;
  height: 100%;
  line-height: 1;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scrollbar-color: var(--theme-highlight-alt) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  background: var(--background);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div {
  display: flex;
  width: 100%;
  flex-direction: column;
}

ul,
li {
  margin: 0;
}

a {
  text-decoration: underline;
  color: #35a0f7;
}
a:hover {
  opacity: 0.8;
}
